{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <h2>Comments</h2>
    <form action="{% url 'detail' task.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="textInput">Text</label><br>
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    {% if comments %}
    {% for comment in comments %}
    <div class="text">
      <small>[{{ comment.posted_at }}]</small>
      <div>
        {{ comment.text | linebreaksbr }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No comment.</p>
    {% endif %}

    <div>
      <a href="{% url 'index' %}">Top</a>
       <a href="{% url 'update' task.id %}">Edit</a>
      <a href="{% url 'delete' task.id %}">Delete</a>
      <a href="{% url 'close' task.id %}">Close</a>
    </div>
  </body>

</html>