.textArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gainsboro;
    border: 2px;
    border-radius: 2%;
}

.text{
    background-color: whitesmoke;
    border: 2px;
    border-radius: 5%;
    margin: 1%;
}